:root {
    --white: #fff;
    --off-white: #f2f2f2;
    --black: #000;
    --midnight-grey: #323232;

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

body {
    font-family: var(--primary-font);
    color: var(--midnight-grey);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

button,
a {
    background-color: inherit;
    cursor: pointer;
    border: none;
    transition: all .4s;
    display: inline-block;
}

a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: transparent;
}

a:hover {
    text-decoration-color: #323232;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.skip-to-content {
    transform: translateY(-100%);
    padding: 8px 16px;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

.skip-to-content:focus {
    transform: translateY(0);
    background-color: var(--off-white);
    color: var(--midnight-grey);
}